*.DS_Store
*.a
*.bak
*.class
*.dll
*.dylib
*.egg-info/
*.exe
*.jar
*.lib
*.lock
*.log
*.o
*.out
*.py[cod]
*.so
*.so.*
*.stackdump
*.tmp
*.zip
*~
.directory
.tags
.venv/
MANIFEST
Thumbs.db
[._]*.swp
[Dd]esktop.ini
build/
dist/
hs_err_pid*
node_modules/
tags
target/
vendor/
venv/
